<!DOCTYPE html>
<html>
<head>
    <title>Update Data</title>
</head>
<body>
<h1 style = "color:blue">Hi Hello Everyone!!!!Here is a update for you</h1>
    <form action="/updatefortoday" method="post">
        <br>
        <textarea id="data" name="data" style="border:2px solid white"></textarea><br><br>
        <input style="margin-left:40px;padding:10px;border-radius:5px;background-color:blue;color:white;border:2px solid blue" type="submit" name="Upload" value="Upload">
    </form>
</body>
</html>
